sudo: required
services:
- docker
before_install:
# Install s2i
- |
  go get github.com/openshift/source-to-image
  pushd ${GOPATH}/src/github.com/openshift/source-to-image
  export PATH=$PATH:${GOPATH}/src/github.com/openshift/source-to-image/_output/local/bin/linux/amd64/
  hack/build-go.sh
  popd
script:
- "DOCKER_PUSH=false . hack/run build"
notifications:
  slack:
    secure: t5LBgiW547p1SWDI/3BT8h3CjvqJjNKZ+oGgdOU3A2uikbFDGS0Sd4wSkv+eLtMOecaQsMCNLu1KuAbiL8tzulzPtvl9EM0SlvU/HFSECk8fLr5E5Zo6bDjEFOzigbBKylyfVvt+OG5gI/FE/jIqa1vIcZgpOrzi21JwVReeg4un+2TK+ukoJNyY2I3mSGrt20KsN+EOn1LMmT5UPvEv1SLNxj5yKJr7jCmF1U8vjcgBTABW2UQbYW71qJ9S1MXODGas1o6vfMqlPPVfbitrVF69seIH3XC9kAiv6L0PumVb/pIQ7lbCrDqKbYjdUgeYwmoh9IDUJ88keE+Qi8N1qtVyxHhKdfDgBHpjyDu2wWs0XTeEuUJiEXJhZmKrBAZ44sFwc5AeG96PFgrgUaLEwkGQcuSaks9hRXZ/2uK17jfqH7Q6PG+r9SMJzkQACwnehaxOUXUunV0w2SaOBZkq68hXCtSz7RB6RwjGJt6uVVnKzkaACqjszg3yZ/cxqgnoCns70ugnTvb1ywxl2UCWGYE0owfGNzjbjtahvAXQpVXNxV6jESKcvNW8kB9sdh5VVkDEl1kcjqRlc1ifKUyls2GdYC32VRam5nG+w2CoqU1DzssHAdV34HNLerP3YU9R5eV+ggkF4kYsjXqn/BmK3FPjaULWy/4sddANBBC7ruA=
env:
  global:
  - secure: sU7OHXefcFq10Igiw17qgP4a0vzUpvoNxnCjlz5cUnVkr+wy+kG1JbCSeKmzTxGLWUPyYoo/A1Ua6fTrbZl9hPwiOUxCs6bGfW5cAg/KTF8sUb3vjQa8cnrIRyL8QHdP7cBDZB5R+ke+zht2RZN6w1GOQIhQt3HsiLX4amnXGtzrlRlZ2ImDV/w+tfMexS0uA1j7Ci4h+ijdYUVCOhbB1tD0mWX4w5kUogtgfqtUNNOENF92YSZ0k4QdXECfetU1mEl/24CsSa2SWxKWWBG4b+bPbELXOb+bKxef8tj9El6eV76oge7XRYJhBpgSQKHnpUvfGI4sC9mwXm8q00EqsRJTykeX27Li56nnXTVnSS+vXIrqYus2FIMlg4l6zWCVLgGazh1uDuhpjaeRkYnz5JbSjwkwfQPRCRMIHpw7Vvcje0GX+y01oLZsvAO5Qyx4CpLNN6Tg5hcU8Hk4+EG+q+N4wQH7xo5BjfOiBiFdrOlU0EAa9d+7vkibctVJb2lD6OUmTtYj2TbERKfwqEM7nZIB1vDeoYG88+QfmknsgAFFuZw3HT0FArbNhWe3hse/Pn9Zc3x/TV0OLsRNdHjfEKogzAbe0LLqTnj3kbieyOKZbjHpX2wLOln3wrjVt4krmWm3RlVLfxn4YRxC1lYhEBrU0mUYt9vmOAr1OlwFQmc=
  - secure: Aip1DmSRKYrdEuxqQErBi50Talu1F4G+1LXEPXgJntER4uiqLbSfvQplE/2vLufu6CQIXnTxZgiTSOQeVSQqOIbJK1gxZ2TYITYrMHSjhhoPO2pirC+ruqspg/ttgt5la/0CWxGSSuW9dDLsol3VGvn451GFf5q+bWhh26MJDapPjHqE2u7OgHdKibA5CC3PmHhPJSJetQDR5RQXBF1DCxgpTGbSAP6ilE3yZhQ7tVk5gODPy4MSAszCqfL0GNv9CcNcXeKTwT3Rc5e18tZjkM4OzBZY3+TNwTib7vOHQn3rF89DtIdPzaV5V/Ka2bMe1/WrcCqf4TTdvqq7X2DOZmnwrCsHSJVo+Kda61lH0kGF5W+Q7zvrsabczeKT+XTFgjuIheNuE0Bm7/Na/z/0bDZZJryhQeTaffNliqq5GSsu4Q7HqUL2C2GBCrvv9JAlN07c4/FlkHXAIQkdgPpEkaXLx5lYlNzGSXyO1W3L4RlLPpALjCrwNJrRebUbs0hnm6uFoBKhDgmtxFb+aa/B/Y0zFP3VhFQigAXBOMvv0LcM6vs18FqJnJuZY2U3lSZsIZXhB6+lknELHvxJ337/JxbZVv+kZZku6LlyBmcQWyAtStpUc99VgoqbiuEKmebhwwmP12q1uALEo37Srf1qUnTUaac8g1WXZtGnRUQ97Hc=
